<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Le Swish Prophet</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{url_for('static', filename='css/all.min.css')}}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='css/clean-blog.min.css')}}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand"><img src="../static/img/NBA-logo.svg" style="width:25px;" title="NBA Forecaster" alt="NBA"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('home')}}">Home</a>
            </li>
<!--             <li class="nav-item">
              <a class="nav-link" href="{{url_for('static', filename='html/visualizations.html')}}">Visualizations</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="https://stats.nba.com/schedule/">Schedule</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://stats.nba.com/players/boxscores/">Stats</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('../static/img/jordan-slam-dunk.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Le $wish Prophet</h1>
              <span class="subheading">Predicting NBA Game Results with Machine Learning</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <style type="text/css">
      #selDataset2{
        float: right;
      }
    </style>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <h1 class="col-lg-8 col-md-10 mx-auto" align="center">Select 2 Teams</h1>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-6 col-md-6 mx-auto">
          <select id="selDataset" onchange="optionChanged1(this.value)"></select>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4 class="panel-title">Player Projected Stats</h4>
            </div>
            <div class="row">
              <div id="player-name" class="col-lg-6 col-md-6 panel-body"></div>
              <div id="player-data" class="col-lg-6 col-md-6 panel-body"></div>
            </div>
            <br>
            <div class="panel-heading">
              <h4 class="panel-title">Team Projected Score</h4>
            </div>
            <div id="team-data" class="panel-body"></div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 mx-auto">
          <select id="selDataset2" onchange="optionChanged2(this.value)"></select>
          <br>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4 class="panel-title" align="right">Player Projected Stats</h4>
            </div>
            <div class="row">
              <div id="player-name2" class="col-lg-6 col-md-6 panel-body"></div>
              <div id="player-data2" class="col-lg-6 col-md-6 panel-body"></div>
            </div>
            <br>
            <div class="panel-heading">
              <h4 class="panel-title" align="right">Team Projected Score</h4>
            </div>
            <div id="team-data2" class="panel-body" align="right"></div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <h1 class="col-lg-8 col-md-10 mx-auto" align="center">The Winning Team is...</h1>
      </div>
      <br>
      <div align="center">
        <button id="calc" type="button" class="btn-primary">Calculate</button>
      </div>
      <div id="winningteam" class="panel-body" align="center">
      </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.js"></script>
    <script src="{{url_for('static',filename='js/app.js')}}"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.bundle.min.js')}}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{url_for('static',filename='js/clean-blog.min.js')}}"></script>

  </body>

</html>
