<!doctype html>
    <title>Barad-Dûr</title>
    <h1 align="center">Welcome to Barad-Dûr's Interface</h1>
    <h2 align="center">Barad-Dûr is the Image Processing component of my segmented AI being, or neurologically the optical lobe. To process an image, upload the image to this interface which serves as a retina. Then press upload to send the data through my virtual optic nerve.<h2>
    <br>
    <h2 align="center">Choose Image File & Click Upload</h1>

    <form method=post align="center" enctype=multipart/form-data>
      <p><input type=file name=file>
         <input type=submit value=Analyze>
    </form>

    <h5 align="center">Return to <a href="/#projects">Demo</a></h7>