<html>
<body style="background-color: black; color: lime; text-align: center; align-items: center;">

<h1>The Batcave</h1>
<h3>How To Access:</h3>
<p style="width:50%;margin:auto;font-size:20px;text-align:left;">
  <br>1) Open a terminal
  <br>2) Copy & paste the following command: <a style="color:white">ssh user@18.222.255.142</a>
  <br>3) Once prompted, enter the following password: <a style="color: white;">1492</a>
  <br>
  <h4><a style="color: lightgreen;" href="/#projects">Return to Demo</a></h4>
</p>
</body>
</html>
