<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="image" property="og:image" content="https://scontent-mxp1-2.xx.fbcdn.net/v/t31.18172-8/21167424_1518882491501243_6917699398668229502_o.jpg?_nc_cat=100&ccb=1-3&_nc_sid=cdbe9c&_nc_ohc=Nav30k7h8VMAX_L5N6t&_nc_ht=scontent-mxp1-2.xx&oh=dbd31db32d603cf3d14da1ace5beb878&oe=60B518C4">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Secci</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{url_for('static', filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='css/grayscale.min.css')}}" rel="stylesheet">
    <link rel="icon" href="{{url_for('static', filename='img/rose.png')}}">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <div class="profile-link">
          <a class="navbar-brand js-scroll-trigger" href="#page-top">Paolo Danilo Secci</a>
        </div>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" target="_blank" href="/Resume">Resume</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <h1 id="main-title">Full Stack Demo</h1>
          <br>
          <h3 id="main-summary" class="text-white-50 mx-auto mt-2 mb-5">Skills Demonstrated:<br>Statistical Analysis, API Systems Architecture, Convolutional Neural Networks, Artificial Intelligence, UX Design, & Linux Network Administration</h3>
          <br id="header-break"><br id="header-break"><br id="header-break">
          
          <a href="#about" class="btn btn-primary js-scroll-trigger">More Info</a>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="about-section text-center">
      <div class="container">
          <div class="col-lg-10 mx-auto">
            <img class="profile-pic" src="{{url_for('static', filename='img/professional-profile-picture.jpg')}}" alt="is surfing the ephemeral spacetime continuum" height=200></img>
            <br><br>
            <h5 class="text-white mb-4">Relevant Coursework:<br>Statistics, Data Analysis & Visualization, Internets & Distributed Networks, AWS Cloud Computing, Electromagnetism, Computer Architecture, Data Structures, Database Essentials, Discrete Mathematics, Matrices & Linear Algebra, Multivariable Calculus, Microeconomics, and Macroeconomics</h3>
            <!--h5 class="text-white mb-4">Declaration of Human Capital:<br>By employing distributed computational clouds to engineer scalable data analysis systems, I can build predictive machine learning models and formulate concretely supported conclusions by analyzing trends in training data. In addition, I have developed expertise in data visualization to translate these scientific results into visual charts, animations, and GUIs to communicate these useful conclusions with my non-analyst colleagues.</h5-->
            <br><a href="#projects" class="btn btn-primary js-scroll-trigger">Projects</a>
            <br><br>
            <br><br>
          </div>
      </div>
    </section>

    <!-- Projects Section -->
    <section id="projects" class="projects-section bg-light"><h2 align="center">Projects</h2><br>
      <div class="container">

        <!-- Le Swish Prophet -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6"><img style="width:100%;height:100%;object-fit:cover;" class="img-fluid" src="{{url_for('static', filename='img/lebron3.gif')}}" alt="img-lsp" /></div>
          <div class="col-lg-6">
              <div class="bg-black text-center h-100 project">
                  <div class="d-flex h-100">
                      <div class="project-text w-100 my-auto text-center text-lg-left">
                        <h4 class="text-white"><a class="project-title" href="/LeSwishProphet">Le Swish Prophet</a></h4>
                        <h6><a class="project-category" href="/LeSwishProphet">Data Analytics:</a></h6>
                        <p class="mb-0 text-white-50">
                          This statistics-based application is designed to predict the outcomes of NBA games.
                          To optimize its accuracy, my application implements a datamining API to hack into the NBA's official database for up-to-date statistics.
                          The data is then wrangled and processed with pandas dataframes.
                          Finally, my predictive algorithm draws upon the mathematical principles of regression and weighted moving averages to draw based conclusions.
                        </p>
                        <hr class="d-none d-lg-block mb-0 ml-0" />
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Bionic Visual Cortex -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6"><img style="width:100%;height:100%;object-fit:cover;" class="img-fluid" src="{{url_for('static', filename='img/sauron2.gif')}}" alt="img-bvc" /></div>
          <div class="col-lg-6 order-lg-first">
              <div class="bg-black text-center h-100 project">
                  <div class="d-flex h-100">
                      <div class="project-text w-100 my-auto text-center text-lg-right">
                          <h4 class="text-white"><a id="bvc" class="project-title" href="/BionicVisualCortex">Bionic Visual Cortex</a></h4>
                          <h6><a class="project-category" href="/BionicVisualCortex">A.I. Vision:</a></h6>
                          <p class="mb-0 text-white-50">
                            This UX interface is designed for the image processing component of my segmented AI being, or neurologically the occipital lobe.
                            Built on Convolutional Neural Networks for Deep Learning, my program loads a light-weight model from the Keras library.
                            With the pre-processing of image files into multidimensional arrays, the application is able to carry out basic linear algebra to solve the complex problem of image classification using only 16MB of training data.
                          </p>
                          <hr class="d-none d-lg-block mb-0 mr-0" />
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Batcave -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6"><img style="width:100%;height:100%;object-fit:cover;" class="img-fluid" src="{{url_for('static', filename='img/abstract-data-2.gif')}}" alt="img-bc" /></div>
        <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
                <div class="d-flex h-100">
                    <div class="project-text w-100 my-auto text-center text-lg-left">
                      <h4 class="text-white"><a class="project-title" href="/Batcave">Batcave</a></h4>
                      <h6><a class="project-category" href="/Batcave">Cloud Server:</a></h6>
                      <p class="mb-0 text-white-50">
                        The Ubuntu 16.04 LTS Instance deployed in AWS Elastic Cloud Compute (EC2) Instance was designed for ssh access.
                        As system administrator I employ Identity and Access Management (IAM) to delegate permissions and accounts to users.
                        As CISO I maintain the network firewall using UFW to responsibly handle the cybersecurity of my users' private data.</p>
                      <hr class="d-none d-lg-block mb-0 ml-0" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- resume button -->
    <section id="res" class="contact-section bg-black">
      <div class="container">
        <div class="row">
            <div class="card-body text-center">
              <a target="_blank" align="center" href="/Resume" class="btn btn-primary js-scroll-trigger">Resume</a>
            </div>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact-section bg-black">
      <div class="container">

        <div class="row">

          <div class="col-md-4 mb-3 mb-md-0">
            <a href="http://www.google.com/maps/place/20121+Milan,+Metropolitan+City+of+Milan">
              <div class="card py-4 h-100">
                <div class="card-body text-center">
                  <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                  <h4 class="text-uppercase m-0">Address</h4>
                  <hr class="my-4">
                  <div class="text-black-50">Milan, Italy 20121</div>
                </div>
              </div>
            </a>
          </div>

          <div class="col-md-4 mb-3 mb-md-0">
            <a href="mailto:paolosecci98@gmail.com">
              <div class="card py-4 h-100">
                <div class="card-body text-center">
                  <i class="fas fa-envelope text-primary mb-2"></i>
                  <h4 class="text-uppercase m-0">Email</h4>
                  <hr class="my-4">
                  <div class="text-black-50">
                    paolosecci98@gmail.com
                  </div>
                </div>
              </div>
            </a>
          </div>

          <div class="col-md-4 mb-3 mb-md-0">
            <a href="tel:+6494461709">
              <div class="card py-4 h-100">
                <div class="card-body text-center">
                  <i class="fas fa-mobile-alt text-primary mb-2"></i>
                  <h4 class="text-uppercase m-0">Phone</h4>
                  <hr class="my-4">
                  <div class="text-black-50">+39 (347) 011-6975</div>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="social d-flex justify-content-center">
          <a href="https://www.linkedin.com/in/paolodanilosecci/" class="mx-2">
            <i class="fab fa-linkedin fa-2x"></i>
          </a>
          <a href="https://www.github.com/paolosecci" class="mx-2">
            <i class="fab fa-github fa-2x"></i>
          </a>
          <a href="https://www.instagram.com/paolosecci310" class="mx-2">
            <i class="fab fa-instagram fa-2x"></i>
          </a>
          <a href="https://www.youtube.com/watch?v=NdHHsoW6mMg&list=PL2swuvUgDlOLAJek3vTfx6xSHwHuCd0Cb" class="mx-2">
            <i class="fab fa-itunes-note fa-2x"></i>
          </a>
        </div>

      </div>
    </section>

    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
      <div class="container">
        &copy; Secci 2021
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{url_for('static', filename='js/grayscale.min.js')}}"></script>

  </body>

</html>
